<!DOCTYPE html>
<html>
<head>

<style type="text/css">
          h2{
               color:purple;
          
          }
body {
 font-family: cursive;
 background-color: lightpink;}
 h1 {
 color: springgreen;}

 p{
     color: darkred;
     font-family:cursive;
     font-size: 16pt;}  


P{font-size: 14pt;
        color: blueviolet;}     
 
 </style> 